<template name="usernamePrompt">
  <div class="username-prompt">
    <h1>Welcome!<h1?
      <br>
    <h2>Pick a username to get started:</h2>
    <form id="gets-username">
      <div style="width:100%" id="name-field">
        <input class="general-textbox" id="username" placeholder="Username" type="text">
      </div>
      <input type="submit" id="up-signup" value="Get Started!">
    </form>
    <h3>Already have an account?</h3>
    <button id="retry-login" class="login-back">Try logging <br>in again.</button>
  </div>
</template>
